<div class="container" style="height: 100%;">
  <div class="row">
    <div class="col-12 mt-3 d-flex justify-content-center ">
      <div class="input-group w-50">
        <input type="search" #search (input)="Getname($event)" class="form-control" placeholder="Search Product">
        <div class="input-group-append">
          <button class="btn bg-btn z-0" (click)="Getname(search.value)" type="button">
            <i class="fa fa-search text-white"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-wrapper table-responsive">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Manage <b>Products</b></h2>
            </div>
            <div class="col-sm-6">
              <a (click)="createProduct()" class="btn btn-success" data-toggle="modal"><i
                  class="fa-solid fa-circle-plus"></i>
                <span>Add New Products</span></a>
              <a class="btn btn-danger" (click)="RemoveAll()" data-toggle="modal"><i
                  class="fa-sharp fa-solid fa-circle-minus"></i><span>Delete</span></a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  <span class="custom-checkbox">
                    <input type="checkbox" [(ngModel)]="selectAllChecked" (change)="toggleAllCheckboxes()">
                    <label for="selectAll"></label>
                  </span>
                </th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>
                  <span class="custom-checkbox">
                    <input type="checkbox" id="{{ 'checkbox' + product._id }}" [(ngModel)]="product.checked"
                      (change)="toggleChecked(product._id)">
                    <label for="{{ 'checkbox' + product._id }}"></label>
                  </span>
                </td>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}$</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.category }}</td>
                <td>
                  <a (click)="openDialogUpdate(product._id)" class="edit" data-toggle="modal"><i class="fa-solid fa-pen-to-square"></i></a>
                  <a (click)="openDialog('0ms', '0ms', product._id)" class="delete"><i class="fa-solid fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="clearfix">
          <div class="hint-text">Showing <b>{{ getRange()}}</b> out of <b>{{countProducts}}</b> entries</div>

          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><button class="page-link btn-custom" (click)="goToPage(currentPage-1)">Previous</button>
              </li>

              <li class="page-item"><button class="page-link btn-custom" (click)="goToPage(currentPage+1)">Next</button>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </div>

</div>
