<div class="body">
  <div class="container-fluid">
    <section class="award-winning-section">
      <div class="row align-items-center">
        <div
          class="offset-lg-6 col-lg-6 offset-md-6 col-md-6 offset-sm-6 col-sm-6"
        >
          <div class="award-winning-content text-center">
            <h1 class="award-winning-title">OUR AWARD WINNING RANGE</h1>
            <p class="award-winning-text">
              Take your pick from our multi-award winning furniture
            </p>
            <a routerLink="/shop/products" class="shop-button btn">SHOP NOW</a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="rotating-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="rotating-blocks">
            <div class="rotating-block">
              "Quality is not an act, it is a habit."
            </div>
            <div class="rotating-block">
              "Simplicity is the ultimate sophistication."
            </div>
            <div class="rotating-block">
              "Design is intelligence made visible."
            </div>
            <div class="rotating-block">"Less is more."</div>
            <div class="rotating-block">"Form follows function."</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="product-section">
    <div class="container-fluid product-container">
      <div class="row">
        <div class="section-title-wrapper">
          <h2 class="section-title">FIND YOUR MANI-PRODUCT</h2>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 card-container">
          <div class="product-card card-1">
            <h3 class="product-title">CHAIRS</h3>
            <img src="../../assets/chair.png" class="card-image" />
            <a
              routerLinkActive="active"
              routerLink="/shop/products"
              class="btn btn-primary"
              >SHOP NOW</a
            >
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 card-container">
          <div class="product-card card-2">
            <h3 class="product-title">TABLES</h3>
            <img src="../../assets/table.png" class="card-image" />
            <a
              routerLinkActive="active"
              routerLink="/shop/products"
              class="btn btn-primary"
              >SHOP NOW</a
            >
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 card-container">
          <div class="product-card card-3">
            <h3 class="product-title">BEDS</h3>
            <img src="../../assets/bed.png" class="card-image" />
            <a
              routerLinkActive="active"
              routerLink="/shop/products"
              class="btn btn-primary"
              >SHOP NOW</a
            >
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 card-container">
          <div class="product-card card-4">
            <h3 class="product-title">BOOKCASES</h3>
            <img src="../../assets/bookcase.png" class="card-image" />
            <a
              routerLinkActive="active"
              routerLink="/shop/products"
              class="btn btn-primary"
              >SHOP NOW</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="featured-products-wrapper">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
          <h2 class="featured-products-title">FEATURED PRODUCTS</h2>
          <a routerLink="/shop/products" class="shop-all-button btn"
            >SHOP ALL PRODUCTS</a
          >
        </div>
      </div>
      <div
        class="row justify-content-center"
        *ngIf="isSmallOrMediumScreen; else cardGrid"
      >
        <div class="col-lg-8 col-md-10">
          <carousel>
            <slide *ngFor="let product of products">
              <carousel>
                <slide *ngFor="let product of products">
                  <div class="featured-product-col">
                    <div class="featured-product-card">
                      <img
                        [src]="product.images[1]"
                        class="featured-product-image"
                      />
                      <div class="featured-product-body">
                        <h3 class="featured-product-title">
                          {{ product.title }}
                        </h3>
                        <a
                          class="view-button btn"
                          (click)="viewProduct(product._id)"
                          >View</a
                        >
                      </div>
                    </div>
                  </div>
                </slide>
              </carousel>
            </slide>
          </carousel>
        </div>
      </div>
      <ng-template #cardGrid>
        <div class="row">
          <div
            *ngFor="let product of products"
            class="col-lg-3 col-md-6 col-sm-12 mb-4"
          >
            <div class="featured-product-card">
              <img [src]="product.images[1]" class="featured-product-image" />
              <div class="featured-product-body">
                <h3 class="featured-product-title">{{ product.title }}</h3>
                <a class="view-button btn" (click)="viewProduct(product._id)"
                  >View</a
                >
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </section>
</div>
