.body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding: 0 !important;
}

.navbar-top {
  background-color: #086484;
  color: white;
  display: flex;
  align-items: center;
  height: 37px;
  width: 100%;
}

.navbar-text {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: white;
  width: 100%;
}

.navbar-light {
  background-color: transparent;
  display: flex;
  width: 100%;
  height: 12vh;
}

.nav-link {
  list-style: none;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  color: #002a3a;
}

.nav-link a {
  color: white;
  text-decoration: none;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.award-winning-section {
  background-image: url("../../assets/section1_background.jpg");
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.award-winning-content {
  text-align: center;
  margin-top: 30vh;
}

.award-winning-title {
  color: #002a3a;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
}

.award-winning-text {
  color: #002a3a;
  font-size: 18px;
  margin-bottom: 30px;
}

.shop-button {
  background-color: #002a3a;
  border-color: #002a3a;
  color: white;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s;
}

.shop-button:hover {
  background-color: white;
  color: #002a3a;
  border-color: #002a3a;
}

.rotating-section {
  background-color: #ffeccc;
  height: 10vh;
  position: relative;
  overflow: hidden;
}

.rotating-blocks {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  white-space: nowrap;
  animation: scrollText 20s linear;
  -webkit-animation: scrollText 20s linear;
}

.rotating-block {
  display: inline-block;
  margin-right: 5rem;
}
/* @keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollTextItem {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

/* products section */
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.product-section {
  background-color: #fff;
}

.section-title-wrapper {
  position: relative;
  text-align: center;
}

.section-title {
  color: #002a3a;
  font-size: 36px;
  font-weight: 800;
  position: absolute;
  padding-top: 10%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.card-container {
  margin: 0 !important;
  padding: 0 !important;
}

.product-card {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-color 0.3s;
}

.card-image {
  background-size: cover;
  background-position: center bottom;
  max-width: 100%;
  max-height: 70%;
  margin: auto;
  display: block;
  position: absolute;
  bottom: 10%;
  left: 0;
}

.card-1 {
  background-color: #3f555a;
}

.card-1:hover {
  background-color: #5e8087;
}
.card-2 {
  background-color: #afbdc0;
}
.card-2:hover {
  background-color: #cad9dc;
}
.card-3 {
  background-color: #b4b1a1;
}
.card-3:hover {
  background-color: #dad6c0;
}
.card-4 {
  background-color: #086383;
}
.card-4:hover {
  background-color: #0786b5;
}

.product-title {
  color: #002a3a;
  font-size: 32px;
  font-weight: 600;
  opacity: 0;
  text-align: center;
  padding-top: 40%;
}

.btn-primary {
  background-color: #002a3a;
  border-color: #002a3a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.btn-primary:hover {
  background-color: white;
  border-color: #002a3a;
  color: #002a3a;
}

.product-card:hover .product-title,
.product-card:hover .btn-primary {
  opacity: 1;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
}

.featured-products {
  height: 100vh;
  background-color: #ffeccc;
}


@media (max-width: 768px) {
  /* Styles for screens up to 768px wide */

  /* Award Winning Section */
  .award-winning-section {
    height: 50vh; /* Adjust section height for smaller screens */
  }

  .award-winning-content {
    margin-top: 15vh; /* Adjust margin for smaller screens */
  }

  .award-winning-title {
    font-size: 24px; /* Adjust font size for smaller screens */
    margin-bottom: 15px; /* Adjust margin for smaller screens */
  }

  .award-winning-text {
    font-size: 14px; /* Adjust font size for smaller screens */
    margin-bottom: 20px; /* Adjust margin for smaller screens */
  }

  /* Rotating Section */
  .rotating-blocks {
    left: 2%; /* Adjust left position for smaller screens */
  }

  /* .section-title-wrapper{
    padding-top: 10px;
  } */

  .product-container{
    align-items: center;
    text-align: center;
  }

  .section-title{
    padding-top: 5%;
  }

  /* Product Cards */
  .product-card {
    height: auto; /* Adjust card height to auto for smaller screens */
    padding: 20px; /* Add padding for better spacing on smaller screens */
  }

  .product-title {
    font-size: 20px; /* Adjust font size for product titles on smaller screens */
    margin-bottom: 10px; /* Adjust margin for smaller screens */
    padding: 10%;
  }

  .btn-primary {
    padding: 10px 20px; /* Adjust padding for smaller screens */
    margin-top: 30%; /* Adjust padding for smaller screens */
    font-size: 16px; /* Adjust font size for buttons on smaller screens */
  }
}
