<nav class="navbar navbar-expand-lg">
  <div class="navbar-top p-4">
    <div class="navbar-text">TRENDY FURNITURE IS AVAILABLE NOW</div>
    <div class="buttons d-flex justify-content-center align-items-center">
      <button *ngIf="isLoggedIn" class="btn btn-danger logout" (click)="logout()">
        LOGOUT
      </button>
      <button
        *ngIf="!isLoggedIn && !login"
        class="btn btn-light login"
        routerLink="/Login"
      >
        LOGIN
      </button>
      <button
        *ngIf="!isLoggedIn && !register"
        class="btn btn-light register"
        routerLink="/Register"
      >
        REGISTER
      </button>
    </div>
  </div>
  <div class="navbar-light">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop/products">SHOP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">THE MANI STORY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link manilife-text" href="#"
          ><img
            src="../../assets/logo.png"
            style="width: 70%"
        /></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PROFILE</a>
      </li>
      <li class="nav-item">
        <button class="nav-link" (click)="openCartDialog()">CART</button>
      </li>
    </ul>
  </div>
</nav>
