<nav class="navbar navbar-expand-lg">
  <div class="navbar-top">
    <div class="navbar-text">TRENDY FURNITURE IS AVAILABLE NOW</div>
  </div>
  <div class="navbar-light">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item"><a class="nav-link" href="#">SHOP</a></li>
      <li class="nav-item">
        <a class="nav-link" href="/about">THE MANI STORY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link manilife-text" href="#"
          ><img
            src="../../assets/logo.png"
            style="margin-top: 2rem; width: 70%"
        /></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PROFILE</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="/cart">CART</a></li>
    </ul>
  </div>
</nav>
