
<div class="cont ">

 <div class="container all my-5 py-5 ">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-7">
 <div class="container my-3">
   
        
    <div class="text">
        Contact us Form
    </div>
    <form  (submit)="onSubmit({ username: username.value, fullname:fullname.value  ,email: email.value, image: image.value })">
        <div class="form-row">
            <div class="input-data">
                <input #username type="text" required>
                <div class="underline"></div>
                <label for="">User Name</label>
            </div>
        </div>
            <div class="form-row">
            <div class="input-data">
                <input #fullname type="text" required>
                <div class="underline"></div>
                <label for=""> Full Name </label>
            </div>
        </div>
       
       <div class="form-row">
        <div class="input-data">
            <input #email type="text" required>
            <div class="underline"></div>
            <label for="">E-mail</label>
        </div>
    </div>
    <div class="form-row">        
    <div class="input-data">
                <input #image type="text" required>
                <div class="underline"></div>
                <label for="">image</label>
            </div>
           
        </div>
        <div class="form-row">
     </div> 
        <div class="form-row submit-btn">

              <a routerLink="/profile">   
                <button class="bg-pink-400 mybutton inner active:bg-pink-400 botn  uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150" type="submit" value="submit">
                    Submit  
                  </button>
                <!-- <div class="input-data">
                <div class="inner"></div>
                <input type="submit" value="submit">
            </div> -->
        </a>
        </div>
    </form>
</div>
</div>
</div>
    </div>
 </div> 
  