
<div class="cont ">
  <app-navbar></app-navbar>
 

 <div class="container all my-5 py-5 ">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-7 my-4">
 <div class="container my-5">
   
        
    <div class="text">
        Contact us Form
    </div>
    <form  (submit)="onSubmit({ username: username.value, email: email.value, image: image.value })">
        <div class="form-row">
            <div class="input-data">
                <input #username type="text" required>
                <div class="underline"></div>
                <label for="">Name</label>
            </div>
            <div class="input-data">
                <input #email type="text" required>
                <div class="underline"></div>
                <label for="">E-mail</label>
            </div>
        </div>
       <div class="form-row">
            <div class="input-data">
                <input #image type="text" required>
                <div class="underline"></div>
                <label for="">image</label>
            </div>
         <!--     <div class="input-data">
                <input type="text" required>
                <div class="underline"></div>
                <label for="">Website Name</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data textarea">
                <textarea rows="8" cols="80" required></textarea>
                <br />
                <div class="underline"></div>
                <label for="">Write your message</label>
            </div> -->
        </div> 
        <div class="form-row submit-btn">
            <div class="input-data">
                <div class="inner"></div>
                <input type="submit" value="submit">
            </div>
        </div>
    </form>
</div>
</div>
</div>
    </div>
</div>
 