
 <div class="cont ">
<div class="grid my-5 py-4">
 <section class="my-5 py-5">
	<h1 class="text-center">Latest Transactions</h1>
	<h2 class="text-center">Today</h2>
	@for (order of orders; track order._id){
  <details>
    
		<summary>
			<div>
				<span style="background-color: #f2dcbb;">
          <i class="fa-solid fa-chair"></i>
				</span>
				<h3>
					<strong>{{order.username}}</strong>
					<small> Furniture</small>
				</h3>
				<span><button class="btn btn-danger" (click)="deleteOrder(order.data._id)"><i class="fa-regular fa-trash-can"></i></button></span>
			</div>
		</summary>
		<div>
			<dl>
				<div >
					<dt>Price</dt>
					<dd>{{order.totalPrice + " $"}}</dd>
				</div>

				<div>
					<dt>Date</dt>
					<dd>{{order.date }}</dd>
				</div>

				<div  >
					<dt >State</dt>
					<dd [ngClass]="{'txt': order.state === 'Pending', 'txt2': order.state === 'accepted' ,'txt3': order.state === 'rejected'}" > {{order.state }}</dd>
				</div>
			</dl>
		</div>
	</details>
}
</section>
</div>
</div>