<div class="container-fluid vh-100 bg-dark">
  <!------------------------ navBarrrr------------------ -->
  <div class="row">
    <div class="col-12 navbar d-flex justify-content-between">
      <a (click)="toggleSidebar()" class="mx-5 mb-3">
        <i class="fa-solid fa-bars text-white fs-4"></i>
      </a>
      <a routerLink="dashboard" class="text-decoration-none">
        <div class="d-flex mx-5">
          <img
            src="{{ user.data.image }}"
            class="mb-3 rounded-circle"
            width="40px"
            height="40px"
            alt=""
          />
          <p class="text-white mt-2 mx-3">{{ user.data.username }}</p>
        </div>
      </a>
    </div>
  </div>

  <!------------------------ Body------------------ -->

  <div class="row d-flex" style="height: 100%">
    <!---------------------SidBarrrr------------------ -->
    <div class="col-3 sidbar text-white" *ngIf="showSidebar">
      <app-header></app-header>
    </div>

    <!--  -->
    <div class="col-9 body" [class.col-12]="!showSidebar">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
