<div class="cont ">
  <div class="container all my-5 py-5 ">
     <div class="row">
         <div class="col-5"></div>
         <div class="col-7 my-4">
  <div class="container my-5">


     <div class="text">
         Contact us Form
     </div>
     <!-- (submit)="onSubmit{( username: username.value, fullname:fullname.value  ,email: email.value, image: image.value }) -->
     <form  [formGroup]="form">
         <div class="form-row">
             <div class="input-data">
                 <!-- <input #username type="text" required> -->
                 <input formControlName="username" #title matInput placeholder="Ex. NORDVIKEN" >
                 <div class="underline"></div>
                 <label for="">User Name</label>
             </div>
         </div>
             <div class="form-row">
             <div class="input-data">
                 <!-- <input #fullname type="text" required> -->
                 <input formControlName="fullname" #title matInput placeholder="Ex. NORDVIKEN" >
                 <div class="underline"></div>
                 <label for=""> Full Name </label>
             </div>
         </div>

        <div class="form-row">
         <div class="input-data">
             <!-- <input #email type="text" required> -->
             <input  formControlName="email" type="email" class="example-right-align" placeholder="0" >
             <div class="underline"></div>
             <label for="">E-mail</label>
         </div>
     </div>
     <div class="form-row">
     <div class="input-data">
                <input class="form-control fs-6"  (change)="uploadPhoto($event)"  #imageProduct type="file" >
                 <div class="underline"></div>
                 <label for="" class="mb-2">image</label>
             </div>

         </div>
         <div class="form-row">
      </div>
         <div class="form-row submit-btn">


          <button  type="submit" (click)="onSubmit()"  [disabled]="!form.valid" disabled class="bg-pink-400 mybutton inner active:bg-pink-400 botn  uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150" >Submit</button>

         </div>
     </form>
 </div>
 </div>
 </div>
 </div>
  </div>
