<div>
  <div class="cart-clickable h-100 w-75" (click)="hide()"></div>
  <div class="cart h-100 w-25 overflow-auto">
    <div *ngFor="let product of userCart" class="product">
      <div *ngIf="productDetails[product.productId]">
        <p>Product Name: {{ productDetails[product.productId]?.title }}</p>
        <p>
          Price:
          {{ productDetails[product.productId]?.price * product.quantity }}
        </p>
        <img
          width="100px"
          [src]="productDetails[product.productId]?.images[0]"
          alt=""
        />
        <button (click)="decreaseQuantity(product)">-</button>
        <input type="number" [value]="product.quantity" />
        <button (click)="increaseQuantity(product)">+</button>
        <button (click)="deleteProductFromCart(product.productId)">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </div>
    </div>
    <button (click)="addOrder()">add order</button>
  </div>
</div>
