<div class="items-background">
    
<div class="contain-items">

    @for (p of products; track p.id ){
        
        <app-one-product [Product]="p"></app-one-product>
        
    }
    
</div>
<div class="button-container">

    <ng-container *ngIf="!searchByWord && !productByCategory">
        <button mat-raised-button (click)="Prev()" mat-flat-button>Prev</button>
        <span class="button-space"> </span> <!-- Add space here -->
        <button mat-raised-button (click)="Next()" mat-flat-button>Next</button>
        
    </ng-container>

</div>
    
    
</div>


