<div class="container mt-5" id="orderContainer">
  <div class="row">
    @for (order of Orders; track order._id) {
    <div class="col-lg-4 col-md-6 col-sm-12 order-item">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">{{order.username}}</h2>
          <p class="card-text">{{order.date}}</p>
          <h1>${{order.totalPrice}}</h1>
          <div class="mb-4">
            <h3>Product Titles</h3>
            <div class="overflow-scroll border" style="height: 80px;">
              @for (productTitle of order.productTitles; track $index) {
                <p>{{productTitle}}</p>
              }
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="col-12">
              <mat-button-toggle-group name="fontStyle" [value]="order.state" (change)="updateOrderState(order._id, $event.value)" class="d-flex justify-content-center text-danger w-100" aria-label="Font Style">
                <mat-button-toggle *ngIf="order.state === 'Pending'"    [class.Pending]="order.state === 'Pending'" value="Pending">Pending</mat-button-toggle>
                <mat-button-toggle *ngIf="order.state !== 'Pending'" value="Pending">Pending</mat-button-toggle>
                <mat-button-toggle *ngIf="order.state === 'Accepted'" [class.Accepted]="order.state === 'Accepted'" [class.text-main]="order.state === 'Accepted'" value="Accepted">Accepted</mat-button-toggle>
                <mat-button-toggle *ngIf="order.state !== 'Accepted'" value="Accepted">Accepted</mat-button-toggle>
                <mat-button-toggle *ngIf="order.state === 'Rejected'" [class.Rejected]="order.state === 'Rejected'" [class.text-main]="order.state === 'Rejected'" value="Rejected">Rejected</mat-button-toggle>
                <mat-button-toggle *ngIf="order.state !== 'Rejected'" value="Rejected">Rejected</mat-button-toggle>
              </mat-button-toggle-group>


            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
