<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-section" id="section1">
        <h2 class="section-title">JOIN THE MANI-LIFERS</h2>
        <p class="section-text">
          For news and exclusive offers, sign up to our newsletter
        </p>
        <form action="#" class="newsletter-form">
          <div class="form-row align-items-center">
            <div class="col">
              <input
                type="email"
                class="email-input form-control"
                placeholder="Email Address"
              />
              <button type="submit" class="send-button btn btn-primary">
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4 footer-section" id="section2">
        <h2 class="section-title">USEFUL LINKS</h2>
        <ul class="useful-links">
          <li>
            <a routerLinkActive="active" routerLink="/about">THE MANI STORY</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/">SUSTAINABILITY</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/">REFER A FRIEND</a>
          </li>
          <li><a routerLinkActive="active" routerLink="/">FAQS</a></li>
          <li><a routerLinkActive="active" routerLink="/">CONTACT US</a></li>
        </ul>
        <a routerLinkActive="active" routerLink="/"
          ><img
            src="../../assets/footerLogo.png"
            alt="Website Logo"
            class="logo img-fluid"
        /></a>
      </div>
      <div class="col-md-4 footer-section" id="section3">
        <h2 class="section-title">LEGAL BITS</h2>
        <ul class="legal-bits">
          <li>
            <a routerLinkActive="active" routerLink="/">PRIVACY POLICY</a>
          </li>
          <li><a routerLinkActive="active" routerLink="/">REFUND POLICY</a></li>
          <li>
            <a routerLinkActive="active" routerLink="/">SHIPPING POLICY</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/">TERMS OF SERVICE</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/">ENVIRONMENTAL POLICY</a>
          </li>
        </ul>
        <h2 class="section-title">SOCIALS</h2>
        <div class="social-icons">
          <div class="social-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-tiktok"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
