<div class="search-bar">
    <div class="navbar-top">
        <div class="navbar-text">TRENDY FURNITURE IS AVAILABLE NOW</div>
    </div>

    <div class="navbar navbar-expand-lg">
        <div class="navbar-light">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="#">SHOP</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SUBSCRIBE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link manilife-text" href="#">
                        <img src="../../assets/logo.png" style="max-width: 200px;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">THE MANI STORY</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/cart">CART</a></li>
            </ul>
        </div>
    </div>

    <div class="search-container">
        <div class="search-input">
            <input class="rounded-input" type="text" placeholder="Search" [(ngModel)]="searchTerm">
            <button class="btn" (click)="search()">Search</button>
        </div>
    </div>

    <div class="navbar-light">
        <ul class="navbar-nav mx-auto" *ngFor="let category of categories" (click)="pickedCategory(category)">
            <li class="nav-item btn "><a class="nav-link">{{category.toUpperCase()}}</a></li>
        </ul>
    </div>
</div>
