.search-bar{
    background-color:#fbedcf;
}
.manilife-text{
    background-color: #fbedcf;
    display: inline-block; 
    padding: 10px;
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    width: 50%; 
    max-width: 450px;
}
.navbar {
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding: 0 !important;
    margin-bottom: 80px;
    
}
.navbar-top {
    background-color: #086484;
    color: white;
    display: flex;
    align-items: center;
    height: 37px;
    width: 100%;
}
.navbar-text {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: white;
    width: 100%;
}

.search-container {
    background-color:#fbedcf;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.rounded-input {
    border: 2px solid #002a3a;
    border-radius: 5px;
    padding: 12px 24px;
    margin-right: 10px;
    font-weight: bold;
    color: #002a3a;
    /* background-color: #ffffff48; */
}

.rounded-input:active {
    border:2px solid #002a3a;
}

.search-container .btn {
    background-color: #002a3a;
    border-color: #002a3a;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;
}

.search-container .btn:hover {
    background-color: white; 
    color: #002a3a;
    border: 1px solid #002a3a;
}

.navbar-light {
    display: flex;
    justify-content: center; 
    width: 100%;
    height: 12vh;
}

.nav-link {
    list-style: none;
    display: flex;
    font-weight: 600;
    font-size: 16px;
}

.nav-link-text {
    list-style: none;
    display: flex;
    font-weight: 600;
    font-size: 24px;
    color: #002a3a;
    margin-top: 20px;
    text-decoration: none; 
    
  }


.navbar-light .btn {
    background-color: #fbedcf;
    border-color: #002a3a;
    color: #002a3a;
    font-weight: bold;
    padding: 0px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar-light .btn:hover {
    background-color: #002a3a; 
    border-color: #002a3a;
    color: #fbedcf;
    border: 0px solid #002a3a;
}

