<div class="search-bar">
    
        
<div class="container">
    

    <div class="main-content">
        
        <div class="search-container">
            <div class="search-input">
                <input class="rounded-input" type="text" placeholder="Search" [(ngModel)]="searchTerm">
                <button class="btn" (click)="search()">Search</button>
            </div>
        </div>

        <button class="menu-toggle" (click)="toggleSidebar()">☰</button>
    
    
        <div class="sidebar" [ngClass]="{'active': isSidebarOpen}" (mouseleave)="closeSidebar()">
            <ul>
                <li *ngFor="let category of categories" (click)="pickedCategory(category)">
                    <a>{{category.toUpperCase()}}</a>
                </li>
            </ul>
        </div>

        
        
        
        <div class="navbar-light ">
            <ul class="navbar-nav mx-auto" *ngFor="let category of categories" (click)="pickedCategory(category)">
                <li class="nav-item btn mx-2" >
                    <a class="nav-link">{{category.toUpperCase()}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</div>
